# Created by .ignore support plugin (hsz.mobi)
.idea/
dynamic-ip.iml
/src/main/resources/config.properties
log/
target/
src/test/
!/src/main/resources/config-dev.properties
src/main/resources/config-dev.properties
